<div class="container">
   <div class="row pd_t30">      
    <div class="col-sm-12">
             <div class="register-box_2">
                <div>
                    <h1 class="m1_hading">Borrower Registration</h1>                    
                </div>
                <div class="borrower-register-input">
                    <div class="register-inputs form2"> 
                        <form name="form" class="lableBoldForm ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-valid-pattern ng-dirty ng-valid-parse" novalidate="">

                            <div class="row">
                                <div class="form-group col-md-6 col-xm-6 col-sm-6"> 


                                  <label for="LoanAmount" class="labletext">Loan Amount </label>

                                    <input type="text" only-numbers placeholder="Rs. 75,000" name="LoanAmount" id="LoanAmount"  maxlength="40"   class="ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-untouched ng-touched form-control" ng-model="formData.Loan_amount" label="First Name">
                                    <small class="text-danger"  ng-show="!form.LoanAmount.$untouched  && form.LoanAmount.$viewValue.length==0">
                                Enter Loan Amount.
                                </small>
                                </div>

                                 <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="LoanTenure" class="labletext">Loan Tenure </label>
                                    <input type="text" only-numbers placeholder="12 Months" ng-model="formData.Loan_tenure" id="LoanTenure" name="LoanTenure"  class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern">
                                    <small class="text-danger"  ng-show="!form.LoanTenure.$untouched  && form.LoanTenure.$viewValue.length==0">
                                Enter Loan Tenure.
                                </small>
                                 </div>  
                                 <div class="form-group col-md-6 col-xm-6 col-sm-6">
                                   <label for="" class="labletext">Purpose of Loan</label>
                                   <select class="form-control selectarrow" id="sel1" ng-model="formData.Loan_Purpose" name="Loan_Purpose"  placeholder="House Type">
                                    <option value="Medical Emergency">Medical Emergency</option>
                                    <option value="other Emergency">Other Emergency</option> 
                                  </select>
                                </div> 
                                <div class="form-group col-md-6 col-xm-6 col-sm-6 " > 
                                  <label for="" class="labletext">Affordable EMI </label>
                                    <input type="text" only-numbers placeholder="Rs. 5,000"  name="Loan_Affordable" id="Loan_Affordable"  class="form-control ng-empty ng-valid ng-valid-minlength ng-valid-maxlength ng-valid-required" ng-model="formData.Loan_Affordable">
                                    <small class="text-danger"  ng-show="!form.Loan_Affordable.$untouched  && form.Loan_Affordable.$viewValue.length==0">
                                      Enter Affordable EMI.
                                </small>
                                 </div>
                                <div class="clearfix"></div> 
                             


                              <div class="form-group col-md-6 col-xm-6 col-sm-6 input_radiobtn lablerow">
                                  <label for="">Gender</label>
                                       <label for="GEnter" class="radio">
                                    <input type="radio" name="GEnter" id="GEnter"  ng-model="formData.Gender" value="Male" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" checked="checked">
                                    <span>Male</span>
                                    </label>
                                     <label for="GEnter1" class="radio">
                                    <input type="radio"  name="GEnter1" id="GEnter1"  ng-model="formData.Gender" value="Female" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                                    <span>Female</span>
                                    </label>
                             </div>

                               <div class="form-group col-md-6 col-xm-6 col-sm-6 input_radiobtn lablerow">
                                  <label for="">Marital Status</label>
                                       <label for="Marital" class="radio">
                                    <input type="radio"  name="Marital" id="Marital" ng-model="formData.Marital" value="Single" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" checked="checked">
                                    <span>Single</span>
                                    </label>
                                     <label for="Marital1" class="radio">
                                    <input type="radio"  name="Marital" id="Marital1" ng-model="formData.Marital" value="Married" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                                    <span>Married</span>
                                    </label>
                             </div>

                             <div ng-show="formData.Marital == 'Married'" class="form-group col-md-6 col-xm-6 col-sm-6 input_radiobtn lablerow">
                                  <label for="">Spouse Working?</label>
                                       <label for="SpouseWorking" class="radio">
                                    <input type="radio"  name="SpouseWorking" id="SpouseWorking" ng-model="formData.Spouse_Working" value="Yes" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" >
                                    <span>Yes</span>
                                    </label>
                                     <label for="SpouseWorking1" class="radio">
                                    <input type="radio" name="Working" id="SpouseWorking1" ng-model="formData.Spouse_Working"  value="No" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                                    <span>No</span>
                                    </label>
                             </div>
                      <div class="form-group col-md-6 col-xm-6 col-sm-6 " ng-show="formData.Marital == 'Married' && formData.Spouse_Working =='Yes'" > 
                                  <label for="Spouse_Monthly_Income" class="labletext">Spouse’s Monthly Income </label>
                                    <input type="text" only-numbers placeholder="e.g. Rs. 23,000" id="Spouse_Monthly_Income" name="Spouse_Monthly_Income" ng-model="formData.Spouse_Monthly_Income" class="form-control ng-empty ng-valid ng-valid-minlength ng-valid-maxlength ng-valid-required" >
                                    <small class="text-danger"  ng-show="!form.Spouse_Monthly_Income.$untouched  && form.Spouse_Monthly_Income.$viewValue.length==0">
                                Enter Spouse’s Monthly Income.
                                </small>
                                 </div>

                             <div class="form-group col-md-6 col-xm-6 col-sm-6 input_radiobtn lablerow" ng-show="formData.Marital == 'Single'">
                                  <label for="">Working Parents?</label>
                                       <label for="Working_Parents" class="radio">
                                    <input type="radio" name="Working_Parents" id="Working_Parents" ng-model="formData.Working_Parents" value="Yes" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" checked="checked">
                                    <span>Yes</span>
                                    </label>
                                     <label for="Working_Parents1" class="radio">
                                    <input type="radio"  name="Working_Parents" id="Working_Parents1" ng-model="formData.Working_Parents" value="No" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                                    <span>No</span>
                                    </label>
                             </div> 

                           

                                  <div ng-show="formData.Working_Parents == 'Yes' && formData.Marital != 'Married' " class="form-group col-md-6 col-xm-6 col-sm-6 " > 
                                  <label for="" class="labletext">Parent’s Monthly Income</label>
                                    <input type="text" only-numbers placeholder="e.g. Rs. 15,000"  name="Parent_Monthly_Income" id="Parent_Monthly_Income" ng-model="formData.Parent_Monthly_Income"  class="form-control ng-empty ng-valid ng-valid-minlength ng-valid-maxlength ng-valid-required" >
                                     <small class="text-danger"  ng-show="!form.Parent_Monthly_Income.$untouched  && form.Parent_Monthly_Income.$viewValue.length==0">
                                Enter Parent’s Monthly Income.
                                </small>
                                 </div>
                                <div class="clearfix"></div> 

                                <div class="form-group col-md-6 col-xm-6 col-sm-6 input_radiobtn lablerow">
                                  <label for="">Any other source of Income </label>
                                       <label for="other_source" class="radio">
                                    <input type="radio" id="other_source"  name="otherIncome" ng-model="formData.other_source"  value="Yes" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" checked="checked">
                                    <span>Yes</span>
                                    </label>
                                     <label for="other_source1" class="radio">
                                    <input type="radio" id="other_source1" name="otherIncome" ng-model="formData.other_source" value="No" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                                    <span>No</span>
                                    </label>
                             </div>



                             <div class="form-group col-md-6 col-xm-6 col-sm-6 " ng-show="formData.other_source == 'Yes' " > 
                                  <label for="" class="labletext">Income Amount </label>
                                    <input type="text" only-numbers placeholder="e.g. Rs. 10,000"  name="Income_Amount" ng-model="formData.other_Income_Amount" class="form-control ng-empty ng-valid ng-valid-minlength ng-valid-maxlength ng-valid-required" >
                                    <small class="text-danger"  ng-show="!form.Income_Amount.$untouched  && form.Income_Amount.$viewValue.length==0">
                                    Enter Income Amount.
                                </small>
                                 </div>
                                 <div class="clearfix"></div>  

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6">
                                   <label for="" class="labletext">Highest Education</label>
                                   <select class="form-control selectarrow" ng-model="formData.Education" id="sel1"  placeholder="House Type">
                                    <option value="Graduation">Graduation</option>
                                    <option value="Master Graduation">Master Graduation</option> 
                                  </select>
                                </div>

                                 <div class="form-group col-md-6 col-xm-6 col-sm-6 " ng-show="formData.Marital == 'Married' "> 
                                  <label for="" class="labletext">No. of Kids </label>
                                    <input type="text" only-numbers placeholder="eg. 2" name="Kids" maxlength="2" ng-model="formData.Kids" class="form-control ng-empty ng-valid ng-valid-minlength ng-valid-maxlength ng-valid-required" >
                                    <small class="text-danger"  ng-show="!form.Kids.$untouched  && form.Kids.$viewValue.length==0">
                                Enter No. of Kids.
                                </small>
                                 </div>
                              

                               
                            </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="info text-center">
                                        <button ng-click="register()" class="btn btn-orange">Save & Proceed
                                        </button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>


            </div>
 
    </div>
  </div>
</div>