<div class="container">
   <div class="row pd_t30">      
    <div class="col-sm-12">
             <div class="register-box_2">
                <div>
                    <h1 class="m1_hading">Borrower Registration</h1>                    
                </div>
                <div class="borrower-register-input">
                    <div class="register-inputs"> 
                        <form name="form" class="lableBoldForm ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength ng-valid-pattern ng-dirty ng-valid-parse" novalidate="">

                            <div class="row">

                              <div class="form-group col-md-6 col-xm-6 col-sm-6">
                                   <label for="" class="labletext">House Type</label>
                                   <select class="form-control selectarrow" id="sel1"  placeholder="House Type">
                                    <option>Owned</option>
                                    <option>Owned</option> 
                                  </select>
                                </div>


                                <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                  <label for="" class="labletext">Who is paying the rent?</label>
                                    <input type="text" placeholder="Rajesh" name="rent" letters-only="" ng-trim="false" required="" class="ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-touched form-control" ng-model="" label="">
                                </div>

                                     <div class="col-sm-12">
                                  <div class="hadding03">Current Address</div>
                                </div>

                                 <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Address Line 1</label>
                                    <input type="text" placeholder="5, Alpesh Apartment" ng-model="" id="address1" name="Loan Tenure" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 
                                 <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Address Line 2</label>
                                    <input type="text" placeholder="LBS Road, Bhandup" ng-model="" id="address2" name="Loan Tenure" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Pin Code</label>
                                    <input type="text" placeholder="400 078" ng-model="" id="PinCode" name="Pin Code" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">City</label>
                                    <input type="text" placeholder="Mumbai" ng-model="" id="City" name="City" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 
                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">State</label>
                                    <input type="text" placeholder="Mahrashtra" ng-model="" id="state" name="state" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Country</label>
                                    <input type="text" placeholder="India" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="clearfix"></div>
                                  <div class="col-sm-12"> 
                                  <div class="hadding03">Employeement Details</div>
                                </div>


                                  
  

                              <div class="form-group col-md-6 col-xm-6 col-sm-6 input_radiobtn lablerow">
                                  <label for="">Employment Type</label>
                                       <label for="referred" class="radio">
                                    <input type="radio" required="" name="Employmenttype" ng-checked="true" ng-click="" ng-model="" value="" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" checked="checked">
                                    <span>Salaried</span>
                                    </label>
                                     <label for="unreferred" class="radio">
                                    <input type="radio" required="" name="Employmenttype" ng-click="" ng-model="" value="" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                                    <span>Self-employed</span>
                                    </label>
                             </div>




                             <div class="form-group col-md-6 col-xm-6 col-sm-6 input_radiobtn lablerow">
                                  <label for="">Business /Professional</label>
                                       <label for="referred" class="radio">
                                    <input type="radio" required="" name="Business" ng-checked="true" ng-click="" ng-model="" value="" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" checked="checked">
                                    <span>Business</span>
                                    </label>
                                     <label for="unreferred" class="radio">
                                    <input type="radio" required="" name="Business" ng-click="" ng-model="" value="" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required">
                                    <span>Professional</span>
                                    </label>
                             </div>

                               <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Firm Name</label>
                                    <input type="text" placeholder="Sankalp Food" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6">
                                   <label for="" class="labletext">Firm Type</label>
                                   <select class="form-control selectarrow" id="sel1"  placeholder="House Type">
                                    <option>FMCG</option>
                                    <option>FMCG</option> 
                                  </select>
                                </div>

                                <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Designation</label>
                                    <input type="text" placeholder="Marketing Executive" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div>

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Employeed Since</label>
                                    <input type="text" placeholder="20 Years" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div>

                                   <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Official Email ID (Optional)</label>
                                    <input type="text" placeholder="Rajesh@sankalp.com" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div>

                                   <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Official Contact No.</label>
                                    <input type="text" placeholder="8850985264" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div>

                                <div class="clearfix"></div>                                 
                                <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Firm Name</label>
                                    <input type="text" placeholder="Sankalp Food" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6">
                                   <label for="" class="labletext">Firm Type</label>
                                   <select class="form-control selectarrow" id="sel1"  placeholder="House Type">
                                    <option>FMCG</option>
                                    <option>FMCG</option> 
                                  </select>
                                </div>

                              <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">PAN No.</label>
                                    <input type="text" placeholder="AXNPO098A" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div>

                                <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Years Of Operations</label>
                                    <input type="text" placeholder="20 Years" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div>
 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Turn Over (Sales)</label>
                                    <input type="text" placeholder="2 cr." ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 



                                     <div class="col-sm-12">
                                  <div class="hadding03">Office Address</div>
                                </div>

                                 <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Address Line 1</label>
                                    <input type="text" placeholder="5, Alpesh Apartment" ng-model="" id="address1" name="Loan Tenure" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 
                                 <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Address Line 2</label>
                                    <input type="text" placeholder="LBS Road, Bhandup" ng-model="" id="address2" name="Loan Tenure" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Pin Code</label>
                                    <input type="text" placeholder="400 078" ng-model="" id="PinCode" name="Pin Code" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">City</label>
                                    <input type="text" placeholder="Mumbai" ng-model="" id="City" name="City" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 
                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">State</label>
                                    <input type="text" placeholder="Mahrashtra" ng-model="" id="state" name="state" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 

                                  <div class="form-group col-md-6 col-xm-6 col-sm-6"> 
                                   <label for="" class="labletext">Country</label>
                                    <input type="text" placeholder="India" ng-model="" id="country" name="country" ng-blur="" ng-pattern="" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-pattern" autocomplete="off">
                                 </div> 
                                   <div class="form-group col-md-6 col-xm-6 col-sm-6">
                                   <label for="" class="labletext">Address Type</label>
                                   <select class="form-control selectarrow" id="sel1"  placeholder="House Type">
                                    <option>Owned</option>
                                    <option>Owned</option> 
                                  </select>
                                </div>

                              

                               
                            </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="info text-center">
                                        <button ng-click="vm.registerFn()" class="btn btn-orange">Save & Proceed
                                        </button>
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>


            </div>
 
    </div>
  </div>
</div>