
  
<div class="container">
   <div class="row pd_t30">      
    <div class="col-sm-12">
             <div class="register-box_2">
                <div>
                    <h1 class="m1_hading"></h1>                    
                </div>
                <div class="borrower-register-input">
                    <div class="register-inputs"> 
                        

                            <div class="row">

                            <div class="form-group col-md-6 col-sm-6 col-xs-6">                                
                                <img src="images/img_first.png" class="img-responsive" height="400" width="450">
                            </div>

                            <div class="text_1 col-md-6 col-sm-6 col-xs-6">
                               <p>We regret to inform you that as per our
                                  company policy your loan application
                                  was not approved this time
                                </p>
                                
                                <b>You Can re-apply after 6 months<b>

                                   
                                           <div class="info text-center">
                                        <button ng-click="Notify()" class="btn btn-orange">Notify Me
                                        </button>
                                     </div>
                                
                            </div>


                              
                            
                             

                            

                            
                          
                                
                            </div>

                               
                      
                    </div>
                </div>


            </div>
 
    </div>
  </div>
</div>